domains/scm/implementation/service-engine/src/main/resources/scm.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

   Copyright 2009 OpenEngSB Division, Vienna University of Technology

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->
<wsdl:definitions name="scm" targetNamespace="urn:openengsb:scm" xmlns:scm="urn:openengsb:scm"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:types>
    <xsd:schema>

      <!-- Request types -->

      <xsd:complexType name="scm:AddRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="add">
            <xsd:complexType>
              <xsd:attribute name="fileToAdd" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:BlameRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="blame">
            <xsd:complexType>
              <xsd:attribute name="file" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:BranchRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="branch">
            <xsd:complexType>
              <xsd:attribute name="name" use="required" />
              <xsd:attribute name="message" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:CheckoutRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="checkout">
            <xsd:complexType>
              <xsd:attribute name="author" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:CommitRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="commit">
            <xsd:complexType>
              <xsd:attribute name="message" use="required" />
              <xsd:attribute name="author" use="required" />
              <xsd:attribute name="subPath" use="optional" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:DeleteRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="delete">
            <xsd:complexType>
              <xsd:attribute name="fileToDelete" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:DiffRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="diff">
            <xsd:complexType>
              <xsd:attribute name="file" use="required" />
              <xsd:attribute name="revision" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:ExportRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="export">
            <xsd:complexType>
              <xsd:attribute name="path" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:ImportRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="import">
            <xsd:complexType>
              <xsd:attribute name="source" use="required" />
              <xsd:attribute name="destination" use="optional" />
              <xsd:attribute name="message" use="required" />
              <xsd:attribute name="author" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:ListBranchesRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="listBranches" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:LogRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="log">
            <xsd:complexType>
              <xsd:attribute name="startRevision" use="required" />
              <xsd:attribute name="endRevision" use="required" />
              <xsd:sequence>
                <xsd:element name="files" type="scm:StringArray" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:MergeRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="merge">
            <xsd:complexType>
              <xsd:attribute name="name" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:SwitchBranchRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="switchBranch">
            <xsd:complexType>
              <xsd:attribute name="name" use="required" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:UpdateRequest">
        <xsd:attribute name="id" type="xsd:string" use="required" />
        <xsd:sequence>
          <xsd:element name="update">
            <xsd:complexType>
              <xsd:attribute name="updatePath" use="optional" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <!-- End Request types -->


      <!-- Return/Result Types -->

      <xsd:complexType name="scm:MergeResult">
        <xsd:sequence>
          <xsd:element name="revision" type="xsd:string" />
          <xsd:element name="adds" type="scm:FileList" />
          <xsd:element name="deletes" type="scm:FileList" />
          <xsd:element name="merges" type="scm:FileList" />
          <xsd:element name="conflicts" type="scm:FileList" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:FileList">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="file" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:StringArray">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="element" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:StringMap">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="entry" type="scm:MapEntry" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="scm:MapEntry">
        <xsd:attribute name="key" type="xsd:string" use="required" />
        <xsd:attribute name="value" type="xsd:string" use="required" />
      </xsd:complexType>

      <!-- End Return/Result Types -->

    </xsd:schema>
  </wsdl:types>


  <!-- In-Messages -->

  <wsdl:messsage name="addMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="blameMessage">
    <wsdl:part name="execute" type="scm:ExecuteRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="branchMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="checkoutMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="commitMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="deleteMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="diffMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="exportMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="importMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="listMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="logMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="mergeMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="switchBranchMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>
  <wsdl:messsage name="updateMessage">
    <wsdl:part name="execute" type="scm:AddRequest" />
  </wsdl:messsage>

  <!-- End In-Messages -->


  <!-- Result-Messages -->

  <wsdl:messsage name="mergeResult">
    <wsdl:part name="value" type="scm:MergeResult" />
  </wsdl:messsage>
  <wsdl:messsage name="stringResult">
    <wsdl:part name="value" type="xsd:string" />
  </wsdl:messsage>
  <wsdl:messsage name="stringArrayResult">
    <wsdl:part name="value" type="scm:StringArray" />
  </wsdl:messsage>
  <wsdl:messsage name="stringMapResult">
    <wsdl:part name="value" type="scm:StringMap" />
  </wsdl:messsage>

  <!-- End Result-Messages -->


  <wsdl:portType name="engsb-scm">
    <wsdl:operation name="add">
      <wsdl:input message="addMessage" />
    </wsdl:operation>
    <wsdl:operation name="blame">
      <wsdl:input message="blameMessage" />
      <wsdl:output message="stringResult" />
    </wsdl:operation>
    <wsdl:operation name="branch">
      <wsdl:input message="branchMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkout">
      <wsdl:input message="checkoutMessage" />
      <wsdl:output message="mergeResult" />
    </wsdl:operation>
    <wsdl:operation name="commit">
      <wsdl:input message="commitMessage" />
      <wsdl:output message="mergeResult" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="deleteMessage" />
    </wsdl:operation>
    <wsdl:operation name="diff">
      <wsdl:input message="diffMessage" />
      <wsdl:output message="stringResult" />
    </wsdl:operation>
    <wsdl:operation name="export">
      <wsdl:input message="exportMessage" />
    </wsdl:operation>
    <wsdl:operation name="import">
      <wsdl:input message="importMessage" />
      <wsdl:output message="mergeResult" />
    </wsdl:operation>
    <wsdl:operation name="listBranches">
      <wsdl:input message="listBranchesMessage" />
      <wsdl:output message="stringArrayResult" />
    </wsdl:operation>
    <wsdl:operation name="log">
      <wsdl:input message="logMessage" />
      <wsdl:output message="stringMapResult" />
    </wsdl:operation>
    <wsdl:operation name="merge">
      <wsdl:input message="mergeMessage" />
      <wsdl:output message="mergeResult" />
    </wsdl:operation>
    <wsdl:operation name="switchBranch">
      <wsdl:input message="switchBranchMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="updateMessage" />
      <wsdl:output message="mergeResult" />
    </wsdl:operation>
  </wsdl:portType>

</wsdl:definitions>
