openengsb-workflow/src/main/resources/scm.wsdl

<?xml version="1.0"?>
<!--

   Copyright 2009 OpenEngSB Division, Vienna University of Technology

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->
<definitions targetNamespace="urn:openengsb:svn" xmlns:tns="urn:openengsb:svn" xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/">

  <types>
    <xsd:schema targetNamespace="urn:openengsb:svn" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:complexType name="checkout">
        <xsd:attribute name="author" type="xsd:string" use="required" />
      </xsd:complexType>

      <xsd:complexType name="mergeResult">
        <xsd:sequence minOccurs="0">
          <xsd:element name="adds" type="tns:filelist" />
          <xsd:element name="deletes" type="tns:filelist" />
          <xsd:element name="merges" type="tns:filelist" />
          <xsd:element name="conflicts" type="tns:filelist" />
        </xsd:sequence>
        <xsd:attribute name="revision" type="xsd:string" />
      </xsd:complexType>

      <xsd:complexType name="filelist">
        <xsd:sequence>
          <xsd:element name="file" type="xsd:string" minOccurs="1" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </types>

  <message name="checkout">
    <part name="payload" type="tns:checkout" />
  </message>

  <message name="mergeResult">
    <part name="payload" type="tns:mergeResult" />
  </message>

  <portType name="SourceControlManagment">
    <operation name="checkout">
      <input message="tns:checkout" />
      <output message="tns:mergeResult" />
    </operation>
  </portType>

  <plnk:partnerLinkType name="SourceControlManagmentPL">
    <plnk:role name="SourceControlManagmentService" portType="tns:SourceControlManagment" />
  </plnk:partnerLinkType>

</definitions>
